body {
  background-color: crimson !important;
}

.corpo {
  width: 40%;
  height: 70%;
  margin: 15vh 30vw;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  padding: 2em;
  background-color: #fdfdfd;
}

audio {
  width: 100%;
}

#audio {
  display: flex;
  align-items: center;
  justify-content: center;
}
